/*////////////// Fonts //////////////*/
<link rel="fonts" href="./fonts/Baskerville.ttc">
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
*{
  box-sizing: border-box;
}
body {
	background: #fff;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	color: rgb(152,173,166) ;
	overflow: auto;
}

.wrapper {
	width: 960px;
	margin: 10% auto;
	background: #fff;
	padding: 0 45px 20px;
	
}

/* Write all remaining styles here */
.rights{
  float: right;
  margin:-5px;
}
