/*////////////// Fonts //////////////*/
<link rel="fonts" href="./fonts/Baskerville.ttc">
/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
*{
  box-sizing: border-box;
}
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	color: rgb(111,127,122) ;
	overflow: auto;
	margin-top: -100px;
}

.wrapper {
	width: 960px;
	margin: 10% auto;
	background: #fff;
	padding: 0 45px 20px;
	
}

/* Write all remaining styles here */
.rights{
  float: right;
  margin:-5px;
}
.necklace-image{
  border: solid rgb(111,127,122) ;
}
h1{
  font-size: 80px;
  color: rgb(152,173,166)
}
